@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 16px;
    letter-spacing: 2px;
}

/* Table responsive styles */
.table-responsive {
    overflow-x: auto;
}

@media (max-width: 768px) {
    #coursesTable th:nth-child(3),
    #coursesTable td:nth-child(3),
    #coursesTable th:nth-child(4),
    #coursesTable td:nth-child(4),
    #coursesTable th:nth-child(5),
    #coursesTable td:nth-child(5),
    #coursesTable th:nth-child(6),
    #coursesTable td:nth-child(6),
    #coursesTable th:nth-child(7),
    #coursesTable td:nth-child(7),
    #coursesTable th:nth-child(8),
    #coursesTable td:nth-child(8) {
        display: none;
    }
}

html, body {
    height: 100%;
    margin: 0;
}

#wrapper {
    display: flex;
    height: 100vh;
}

#sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #343a40; /* Sidebar background */
    transition: all 0.3s ease;
    z-index: 1;
}

#sidebar.active {
    left: -250px; /* Collapsed sidebar off-screen */
}

#page-content-wrapper {
    flex-grow: 1;
    transition: margin-left 0.3s ease;
    padding-top: 20px;
    margin-left: 0; /* Initially no margin */
}



/* Topbar styles */
.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

#toggleSidebar {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.topbar .right-align {
    margin-left: auto;
}


.footer { width: 100%;}




